gymnasium[box2d]
gymnasium[mujoco]
gymnasium[other]
wandb
tyro
stable-baselines3
timm
opencv-python
diffusers
accelerate
hl_gauss_pytorch
wheel
packaging
num2words
imageio[ffmpeg]
minigrid
peft
fschat
sentencepiece
memory-maze
qwen-vl-utils
bitsandbytes
flash-linear-attention
